/*-- Variables de colores --*/
$colorTitulo : #212121;
$colorUno: #ffc107;
$colorDos: #ffb300;
$colorTres: black;
$colorCuatro: #424242;
$colorCinco: #e1f5fe;
$colorSeis: #f9f9f9;
$colorSiete: #fafafa;
$colorOcho: rgb(255, 255, 255);
$letra1: 'Alegreya', serif;


/*-- Variables de porcentaje --*/
$porcentaje1: 0 0 100%;

