
/* ---------Start CopyRight ---------*/


.copyright{
   
    background-color: $colorOcho;
    border-top: 1px solid $colorCuatro;
    padding: 15px;

}


.copyright p{

    color: $colorNueve;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;

}




