/*-- Variables de colores --*/
$colorTitulo : #212121;
$colorUno: #f12711;
$colorDos: #ffa000;
$colorTres: #000;
$colorCuatro: #424242;
$colorCinco: #e1f5fe;
$colorSeis: #f3f2f1;
$colorSiete: #fff;
$colorOcho: rgb(255, 255, 255);
$colorNueve: #263238;
$colorDiez: #e0e0e0;
$ColorLight: #fdf9ff;
$Blanco: #ffffff;
$Grey: #302e4d;
$letra3: 'Alegreya', serif;


/*-- Variables de porcentaje --*/
$porcentaje1: 0 0 100%;
